.wrapper {
  margin: 0 auto;
  max-width: var(--wrapper-max-width);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-radius: 15px;
  background: linear-gradient(
    45deg,
    var(--wrapper-background1),
    var(--wrapper-background2),
    var(--wrapper-background3),
    var(--wrapper-background4)
  );
  box-shadow: var(--wrapper-shadow) 0px 0px 50px;
  background-size: 400% 400%;
  animation: gradientAnimation 7s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
